html,
body {
  
  margin: 0;
  padding: 0;
  background-color: #343A40;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* //////////////////// main-container section ///////////////////////////////// */
.main-header {
  width: 100%;
  height: 100vh;
  background-image: url("background6.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-header .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-header .header-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-header .header-content .welcome {
  font-size: 2em;
}

.main-header .header-content .developer-text {
  font-size: 3em;
  margin-bottom: 0.9rem;
}

.main-header .header-content .hire-me {
  outline: none;
  border: 2px solid #20c997;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
}

.main-header .header-content .hire-me:hover {
  background-color: #20c997;
  color: #fff;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////// Navbar Section ////////////////////////// */

.sticky {
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-on {
  animation: slideDown 0.7s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: #111418 !important;
}
@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
.main-header .navbar-nav .nav-item .active {
  color: #20c997 !important;
  transition: all 0.2s ease !important;
}

.main-header .tra {
  background-color: transparent !important;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////// About Section ///////////////////////////// */

.section{
  height: auto;
}

.list-unstyled{
  list-style-type: none;
}

#about h4{
  font-size: 5rem;

}
/* //////////////////////////////////////////////////////////////////////////// */
